* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:500;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

#wrap {
    width: 1100px;
    margin: 0 auto;
}

/* ㄱ */

#header {
    height: 150px;
    position: relative;
}

#header h1 {
    width: 250px;
    height: 100%;
}

#header h1 img {
    width: 80%;
    height: 100%;
}

#header #gnb {
    background-color: violet;
    position: absolute;
    top: 60px;
    right: 0;
}

#header #gnb li {
    float: left;
    margin-left: 20px;
}

/* ㄴ */

.main {
    height: 500px;
    background-color: wheat;
    background-image: url(../img/main_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.main h2 {
    background-color: rgba(11, 230, 157, 0.5);
    text-align: center;
    padding: 10px;
    border-radius: 30px 10px;
    color: #fff;
    /* 정가운데 배치 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:900;
}

/* ㄷ */

.container {
    height: 650px;
    background-color: whitesmoke;
}

.container section>h2 {
    display: none;
}

.container section.s1 {
    height: 300px;
    text-align: center;
}

.container section.s1 article {
    width: 50%;
    background-color: seashell;
    float: left;
}

.container section.s1 article h3 {
    padding: 15px 0 10px;
}

.container section.s1 article.notices table {
    border-collapse: collapse;
    text-align: left;
    font-weight:300;
}

.container section.s1 article.notices table tr:nth-child(2n-1) {
    background-color: #fdb813;
}

.container section.s1 article.notices table td {
    width: 150px;
    padding: 10px;
    text-align: right;
}

.container section.s1 article.notices table td:first-child {
    width: 400px;
    text-align: left;
}

.container section.s2 ul {
    text-align: center;
}

.container section.s2 li {
    float: left;
    width: 33.3333%;
}

/* ㄹ */

#footer {
    height: 150px;
    background-color:#333;
}

#footer ul.footer-menu, #footer address {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    color: #fff;
    font-style:normal;
}

#footer ul.footer-menu li {
    float: left;
    color: lightgrey;
}

#footer ul.footer-menu li a {
    color: #fff;
}

#footer ul.footer-menu li::after {
    content: "|";
    margin: 0 10px;
}

#footer ul.footer-menu li:last-child::after{
    content:"";
}