@charset "utf-8"
/* reset css */

* {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 960px;
    margin: 0 auto;
}

/* layout03 */

#mom {
    width: 980px;
    height: 940px;
    background-color: #ccc;
    padding: 10px;
    box-sizing: border-box;
}

#son01 {
    width: 290px;
    height: 920px;
    background-color: aqua;
    float: left;
}

#son02 {
    width: 660px;
    height: 200px;
    background-color: bisque;
    float: right;
    margin-bottom: 10px;
}

#son03 {
    width: 660px;
    height: 500px;
    background-color: pink;
    float: right;
    margin-bottom: 10px;
}

#son04 {
    width: 660px;
    height: 200px;
    background-color: plum;
    float: right;
}