* {
    margin: 0;
    padding: 0;
}

#slide {
    height: 500px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#slide img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}