* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
    width: 100%;
}

#wrap {
    width: 95%;
    max-width: 1100px;
    min-width: 960px;
    margin: 0 auto;
}


/* 1 */

#header {
    height: 160px;
    background-color: #ccc;
    position: relative;
    padding: 30px 0 0 20px;
    box-sizing: border-box;
}

#header #gnb {
    position: absolute;
    bottom: 10px;
    max-width: 1100px;
    min-width: 960px;
    width: 100%;
    right: 0;
}

#header #gnb li {
    float: left;
    width: 192px;
    height: 30px;
    background-color: pink;
    border-radius: 10px;
}


/* 2 */

.main {
    height: 600px;
    background-color: blue;
}


/* 3 */

.article {
    /* width: 220px; */
    width: 22.917%;
    height: 280px;
    float: left;
    margin: 10px 1.042px;
    border: 1px solid palevioletred;
    box-sizing: border-box;
}


/* 4 */

#footer {
    height: 110px;
    background-color: yellow;
    float: clear;
}


/* tablet */

@media screen and (max-width:768px) {
    #wrap {
        min-width: 600px;
        max-width: 700px;
    }
    #header #gnb {
        min-width: 600px;
        max-width: 700px;
    }
    /* #header #gnb li {
        width: 120px;
    } */
    .main {
        height: 400px;
    }
    .article {
        width: 30%;
        height: 230px;
        margin: 10px 1.667%;
    }
}


/* mobile */

@media screen and (max-width: 460px) {
    #wrap {
        max-width: 460px;
        min-width: 360px;
    }
    #header #gnb #li {
        width: 33.3333%;
    }
    .main {
        height: 200px;
    }
    .article {
        width: 50%;
        margin: 10px 25%;
    }
}


/*가변/부모*100*/